{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

  <!--Main layout-->
  <main class="mt-5">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">


            <!--Card content-->
            <form class="card-body" method="post">


              {% csrf_token %}
              <h3 class="my-2 h3">Shipping Address</h3>
              <!--address-->
              <div class="hide_shipping_form">

                <div class="md-form mb-5">
                  <input type="text" id="id_shipping_address" name="shipping_address" class="form-control" placeholder="1234 Main St">
                  <label for="id_shipping_address" class="">Address</label>
                </div>

                <!--address-2-->
                <div class="md-form mb-5">
                  <input type="text" id="id_shipping_address2" class="form-control" placeholder="Apartment or suite">
                  <label for="id_shipping_address2" name="shipping_address2" class="">Apartment address (optional)</label>
                </div>

                <!--Grid row-->
                <div class="row">

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 mb-2">

                    <label for="country">Country</label>
                    {{ form.shipping_country }}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>

                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4">

                    <label for="id_shipping_zip">Zip</label>
                    <input type="text" class="form-control" id="id_shipping_zip" name="shipping_zip" placeholder="">
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>

                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->


                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="id_same_shipping_address" name="same_shipping_address">
                  <label class="custom-control-label" for="id_same_shipping_address">Billing address is the same as my shipping address</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="id_set_default_shipping" name="set_default_shipping">
                  <label class="custom-control-label" for="id_set_default_shipping">Save as default shipping address</label>
                </div>

              </div>

              {% if default_shipping_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="id_use_default_shipping">
                <label class="custom-control-label" for="id_use_default_shipping" name="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %}

                <hr class="mb-4">

              <h3 class="my-2 h3">Billing Address</h3>
              <div class="hide_billing_form">
                <!--address-->
                <div class="md-form mb-5">
                  <input type="text" id="id_billing_address" name="billing_address" class="form-control" placeholder="1234 Main St">
                  <label for="id_billing_address" class="">Address</label>
                </div>

                <!--address-2-->
                <div class="md-form mb-5">
                  <input type="text" id="id_billing_address2" class="form-control" placeholder="Apartment or suite">
                  <label for="id_billing_address2" name="billing_address2" class="">Apartment address (optional)</label>
                </div>

                <!--Grid row-->
                <div class="row">

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 mb-2">

                    <label for="country">Country</label>
                    {{ form.billing_country }}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>

                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4">

                    <label for="id_billing_zip">Zip</label>
                    <input type="text" class="form-control" id="id_billing_zip" name="billing_zip" placeholder="">
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>

                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->


                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="id_set_default_billing" name="set_default_billing">
                  <label class="custom-control-label" for="id_set_default_billing" >Save as default shipping address</label>
                </div>
            </div>
              {% if default_billing_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="id_use_default_billing" name="use_default_billing">
                <label class="custom-control-label" for="id_use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %}

              <hr>

              <h3 class="my-2 h3">Payment Option</h3>

              <div class="d-block my-3">
                {% comment %} <div class="custom-control custom-radio">
                  <input id="id_id_payment_option_0_1" name="payment_option" type="radio" class="custom-control-input" value="M" required>
                  <label class="custom-control-label" for="id_id_payment_option_0_1">MOMO PAY</label>
                </div> {% endcomment %}
                
                <div class="custom-control custom-radio">
                  <input id="id_id_payment_option_0_2" value="P" name="payment_option" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="id_id_payment_option_0_2">Paypal</label>
                </div>
              </div>
              
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          {% include "order_snippet.html" %}

          <!-- Promo code -->
          <form class="card p-2" method="POST" action="{% url 'shop:add_coupon' %}">
          {% csrf_token %}
            <div class="input-group">
              {% comment %} <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2"> {% endcomment %}
              {{ couponform.code }}
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
              </div>
            </div>
          </form>
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock content %}


{% block extra_scripts %}

<script>

const hideShipping = document.querySelector(".hide_shipping_form");
const hideBilling = document.querySelector(".hide_billing_form");
{% comment %} const checkDefaultShipping = document.querySelector("#id_use_default_shipping"); {% endcomment %}
const checkDefaultBilling = document.querySelector("#id_use_default_billing");
const checkSameBilling = document.querySelector("#id_same_shipping_address");

{% comment %} checkDefaultShipping.addEventListener('change', ()=> {
  if(checkDefaultShipping.checked == true){
    hideShipping.style.display = "None";
  } else {
    hideShipping.style.display = "Block";
  }
})  {% endcomment %}

checkSameBilling.addEventListener('change', ()=> {
  if(checkSameBilling.checked == true) {
    hideBilling.style.display = "none";
  } else {
    hideBilling.style.display = "block";
  }
})



</script>




{% endblock extra_scripts %}
